# Включить использование lombok.NonNull (по умолчанию)
lombok.nonNull.copyableAnnotations += lombok.NonNull

# Альтернативные аннотации для IDE (например, IntelliJ)
lombok.addNullAnnotations = true
lombok.nullableAnnotation = org.jetbrains.annotations.Nullable
lombok.nonNullAnnotation = org.jetbrains.annotations.NotNull